html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: #bc2929;
  color: #fff;
  font-family: 'source-code-pro', sans-serif;
  line-height: 1.75;
  margin: 0 0 300px;
}

h1 {
  font-family: 'europa', 'Helvetica', 'Arial', sans-serif;
  font-size: 8rem;
  padding: 3em 0;
  text-align: center;
}

h2 {
  font-family: 'europa', 'Helvetica', 'Arial', sans-serif;
  font-size: 5rem;
  padding-bottom: 3rem;
}

section {
  padding: 10rem 0;
}

p {
  display: block;
  width: 100%;
}

/*  */
/*  */
/*  */
.center {
  text-align: center;
}

.container {
  max-width: 1280px;
}

.spacer {
  padding: 5rem 0;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
}

.intro {
  background-color: #bc2929;
}

.title {
  font-family: 'europa', 'Helvetica', 'Arial', sans-serif;
  font-size: 50px;
}
.title a {
  color: inherit;
  text-decoration: inherit;
}

.navbar {
  font-size: 1.5rem;
  text-align: right;
  justify-content: flex-end;
  margin-bottom: 10rem;
}
@media (max-width: 650px) {
  .navbar {
    text-align: left;
  }
}
.navbar ul {
  list-style-type: none;
  margin: auto auto;
  white-space: nowrap;
}
.navbar li {
  display: inline-block;
  padding: 0;
  vertical-align: middle;
  position: relative;
  margin: 3.5rem 1rem;
}
.navbar a {
  color: white;
  letter-spacing: 0.25rem;
  text-decoration: none;
  text-transform: uppercase;
}
.navbar span {
  background: #fff;
  bottom: 0;
  height: 2px;
  left: 0;
  position: absolute;
  width: 0;
  -webkit-transition: width 0.5s;
     -moz-transition: width 0.5s;
       -o-transition: width 0.5s;
          transition: width 0.5s;
}
.navbar a:hover ~ span {
  width: 100%;
}

.about {
  background-color: #333;
}

.services {
  background-color: #0066ff;
}

.plans {
  background-color: #fff;
  color: #555;
  text-align: center;
}

.contact {
  background-color: #aaa;
}

footer {
  background-color: #555;
  bottom: 0;
  height: 300px;
  left: 0;
  position: absolute;
  width: 100%;
}
footer .columns {
  padding: 10% 0;
  text-align: center;
}
