html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: #fff;
  color: #fff;
  font-family: 'source-code-pro', sans-serif;
  line-height: 1.75;
}

h1 {
  font-family: 'europa', 'Helvetica', 'Arial', sans-serif;
  font-size: 8rem;
  padding: 3em 0;
  text-align: center;
}

h2 {
  font-family: 'europa', 'Helvetica', 'Arial', sans-serif;
  font-size: 5rem;
  padding-bottom: 3rem;
}

h3 {
  font-family: 'source-code-pro', sans-serif;
  font-size: 2rem;
  padding-top: 1rem;
  text-transform: uppercase;
}

section {
  padding: 10rem 0;
}

p {
  display: block;
  width: 100%;
}

/*          */
/* Skeleton */
/*          */
.button-primary {
  background-color: #fff;
  border: 1px #000 solid;
  color: #555;
  font-family: 'europa', 'Helvetica', 'Arial', sans-serif;
}

.container {
  max-width: 1280px;
}

/*         */
/* Helpers */
/*         */
.center {
  text-align: center;
}

.right {
  text-align: right;
}

.spacer {
  padding: 5rem 0;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
}

/*          */
/* Sections */
/*          */
.intro {
  background-color: #cc0000;
}

  .title {
    font-family: 'europa', 'Helvetica', 'Arial', sans-serif;
    font-size: 50px;
  }
  .title a {
    color: inherit;
    text-decoration: inherit;
  }

  .navbar {
    font-size: 1.5rem;
    justify-content: flex-end;
    margin-bottom: 10rem;
    text-align: right;
  }
  .navbar ul {
    list-style-type: none;
    margin: auto auto;
    white-space: nowrap;
  }
  .navbar li {
    display: inline-block;
    margin: 3.5rem 1rem;
    padding: 0;
    position: relative;
    vertical-align: middle;
  }
  .navbar a {
    color: white;
    letter-spacing: 0.25rem;
    text-decoration: none;
    text-transform: uppercase;
  }
  .navbar span {
    background: #fff;
    bottom: 0;
    height: 2px;
    left: 0;
    position: absolute;
    width: 0;
    -webkit-transition: width 0.5s;
       -moz-transition: width 0.5s;
         -o-transition: width 0.5s;
            transition: width 0.5s;
  }
  .navbar a:hover ~ span {
    width: 100%;
  }

.about {
  background-color: #333;
}

.services {
  background-color: #0066ff;
}

.plans {
  color: #555;
  font-family: 'europa', 'Helvetica', 'Arial', sans-serif;
  text-align: center;
  height: 100%;
}
  .plans .box {
    border: 1px #ddd solid;
  }
  .plans .essentials {
    color: #28cb75;
    border-top: 3px #28cb75 solid;
  }
  .plans .pro {
    color: #9933ff;
    border-top: 3px #9933ff solid;
  }
  .plans .server {
    color: #ff0066;
    border-top: 3px #ff0066 solid;
  }
  .plans ul {
    line-height: 1.25;
    list-style: none;
  }
  .plans li {
    color: #555;
    padding-top: 1rem;
  }

  .buy {
    color: #fff;
    font-family: 'source-code-pro', sans-serif;
    margin-top: 1rem;
    padding: 1rem 0;
    text-align: center;
    text-transform: uppercase;
  }
  .essentials .buy {
    background-color: #28cb75;
  }
  .pro .buy {
    background-color: #9933ff;
  }
  .server .buy {
    background-color: #ff0066;
  }

  .price {
    align-self: flex-end;
    font-size: 3rem;
  }
  .subtext {
    font-size: 1rem;
  }

  .info {
    margin: 2rem 0;
  }

.contact {
  color: #777;
  background-color: #ddd;
}

.footer {
  background-color: #333;
}

/*          */
/* Media Qs */
/*          */
@media (max-width: 650px) {
  .title,
  .navbar {
    text-align: center;
  }
}
@media (max-width: 549px) {
  .right{
    text-align: left;
  }
}
@media (max-width: 510px) {
  .navbar li {
    display: block;
  }
}
