<head>
  <title>Common Engineering</title>

  <script src="https://use.typekit.net/ujm5uci.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>

<body>
  {{> topButton}}
  <section id="intro" class="intro">
    <div class="container nav">
      <div class="title six columns">
        <a href="/">COMMON</a>
      </div>
      <div class="navbar six columns">
        <ul>
          <li>
            <a data-scroll href="#about">About</a>
            <span></span>
          </li>
          <li>
            <a data-scroll href="#services">Services</a>
            <span></span>
          </li>
          <li>
            <a data-scroll href="#pricing">Pricing</a>
            <span></span>
          </li>
          <li>
            <a data-scroll href="#contact">Contact</a>
            <span></span>
          </li>
        </ul>
      </div>
    </div>
    <div class="container">
      <h1>We design, develop and deliver software for the web.</h1>
    </div>
  </section>
  <section id="about" class="about">
    <div class="container">
      <div class="row">
        <h2 class="u-pull-right right">A different kind of technical consulting firm</h2>
      </div>
      <div class="one-third column">
      </div>
      <div class="two-thirds column u-pull-right">
        <p>
          Common Engineering is different.
        </p>
        <p>
          We are a collective of passionate engineers, designers, and students working together to forge the highest quality of software. Our team is made up of industry professionals who actively contribute to the opensource and startup communities. We build great software, for the love of building software.
        </p>
        <p>
          We run a tight ship: our team works remotely, communicates asynchronously and uses only the best tools to ship your code as efficiently and quickly as possible.
        </p>
        <p>
          We invest in our client relationships like we do our work. We believe in doing whatever is neccessary to get the job done properly the first time. Let us know what you need help with.
        </p>
      </div>
    </div>
  </section>
  <section id="services" class="services">
    <div class="container">
      <div class="row">
        <h2>Services we offer</h2>
      </div>
      <div class="row">
        <div class="one-third column">
        </div>
        <div class="two-thirds column">
          <p>
            No matter the problem, we can build the solution.
          </p>
          <p>
            At Common, we belive in building and utilizing open source software. Unlike propritary libraries and stacks, open source allows us to iterate even faster using technologies relied on by the largest enterprise corperations, and freshest start ups.
          </p>
          <p>
            We offer two tiers of web development:
            <ol>
              <li>
                Basic web development<br />
                Built on top of an open source framework, we deliver a quick but professional application for your needs.
              </li>
              <li>
                Custom web development<br />
                Built on top of an open source libraries, we deliver custom and professional grade applications comparable to today's startups.
              </li>
            </ol>
            Additionally if needed, we are able to deploy, host and manage your web applications in the cloud with Google Cloud.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="pricing" class="plans">
    <div class="container">
      <div class="row">
        <h2 class="center">Pricing</h2>
      </div>
      <div class="row">
        <div class="four columns">
          <div class="box essentials">
            <h3>Essential</h3>
            <ul>
              <li><span>Web design & development</span></li>
              <li><span>Open source software</span></li>
              <li><span>Updates and progress via our app</span></li>
              <li><span>Additional services available (marketing, branding)</span></li>
            </ul>
            <div class="price">
              $2999
            </div>
            {{>stripe price="299900" name="Essentials" desc="Basic Website"}}
          </div>
          <div class="info">
            {{> moreButton type="essential"}}
          </div>
        </div>
        <div class="four columns">
          <div class="box pro">
            <h3>Pro</h3>
            <ul>
              <li><span>Custom web application development</span></li>
              <li><span>Open source software</span></li>
              <li><span>Updates and progress via our app</span></li>
              <li><span>Additional services available (marketing, branding)</span></li>
            </ul>
            <div class="price">
              $5999
            </div>
            {{>stripe price="599900" name="Pro" desc="Web Application Development"}}
          </div>
          <div class="info">
            {{> moreButton type="pro"}}
          </div>
        </div>
        <div class="four columns">
          <div class="box server">
            <h3>Hosting</h3>
            <ul>
              <li><span>24/7 Monitoring</span></li>
              <li><span>Next day support</span></li>
              <li><span>Basic control panel</span></li>
              <li><span>Scaleable resources (extra charge)</span></li>
            </ul>
            <div class="price">
              $35 <span class="subtext">/ month</span>
            </div>
            {{>stripe price="3500" name="Hosting" desc="Low cost servers"}}
          </div>
          <div class="info">
            {{> moreButton type="hosting"}}
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="contact" class="contact">
    <div class="container">
      <div class="row">
        <h2 class="center">Get in touch</h2>
      </div>
      <div class="row">
        <form>
          <div class="row">
            <div class="six columns">
              <label for="exampleEmailInput">Your email</label>
              <input class="u-full-width" type="email" placeholder="test@mailbox.com" id="exampleEmailInput" />
            </div>
            <div class="six columns">
              <label for="exampleRecipientInput">Reason for contacting</label>
              <select class="u-full-width" id="exampleRecipientInput">
                <option value="Questions">Questions</option>
                <option value="Sales">Sales</option>
                <option value="Support">Support</option>
              </select>
            </div>
          </div>
          <div class="row">
            <label for="exampleMessage">Message</label>
            <textarea class="u-full-width" rows="10" placeholder="" id="exampleMessage"></textarea>
          </div>
          <div class="row">
            <label class="send-yourself-copy">
              <input type="checkbox" />
              <span class="label-body">Send a copy to yourself</span>
            </label>
          </div>
          <div class="row">
            <input type="submit" value="Submit" />
          </div>
        </form>
      </div>
    </div>
  </section>
  <footer>
    <div class="footer-row">
      <div class="one">
        <ul>
          <li>
            &copy;Copyright 2016 Common Engineering. All rights reserved.
          </li>
          <li>
            {{> privacyButton}}
          </li>
        </ul>
      </div>
      <div class="two">
        Connect with us!
      </div>
      <div class="three">
        <a href="https://twitter.com/common_eng" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="https://github.com/common-engineering" target="-blank">
          <i class="fa fa-github-alt"></i>
        </a>
      </div>
    </div>
  </footer>
</body>

<!-- Buttons -->
<template name="privacyButton">
  <a>Privacy Policy</a>
</template>
<template name="moreButton">
  <a id="{{type}}">More info</a>
</template>
<template name="topButton">
  <a class="scroll-btn" data-scroll href="#intro">
    <i class="fa fa-arrow-up"></i>
  </a>
</template>

<template name="stripe">
  <div class="buy">
    Buy
  </div>
</template>
